/* GLOBAL STYLES */

body {
  background: url(http://www.psdgraphics.com/file/blue-sky-sun.jpg) no-repeat;
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, .25);
  color: rgb(243, 243, 241);
  min-width: 400px;
  max-width: 40%;
  box-shadow: 1px 0px 6px rgba(0,0,0,0.3), -1px 0px 6px rgba(0,0,0,0.3);
}

header {
  padding-top: 2em;
}

h1 {
  font-size: 3.5em;
  float: left;
  padding-left: 12.8%;
  color: #115;
  text-shadow: 1px 1px 1px rgb(117, 163, 215);
  font-family: Impact, sans-serif;
  margin-top: 0.2em;
  margin-bottom: 0;
  letter-spacing: 1px;
}

nav {
  padding-top: .5em;
} 

.icon-menu {
  float: right;
  font-size: 2.9em;
  margin-right: .1em;
  margin-top: -2.3em;
  color: rgb(0, 0, 238);
}

main {
  margin-top: 1em;
}

/* LINK STYLES */

a {
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 238);
}

a:hover {
  cursor:pointer;
  font-weight: bold;
}

.active a {
  font-weight: bold;
  color: rgb(243, 243, 241);
  text-shadow: 1px 1px 1px #333;
}

/* MAIN STYLES */

h2 {
  padding-top: 2em;
}

p {
  line-height: 1.8em;
  padding: 1em 2.5em;
}