/* GLOBAL STYLES */

body {
  background: url(http://www.psdgraphics.com/file/blue-sky-sun.jpg) no-repeat;
}

#wrapper {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, .25);
  color: rgb(243, 243, 241);
  min-width: 400px;
  max-width: 40%;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 238);
}

a:hover {
  cursor:pointer;
  font-weight: bold;
}

/* HEADER STYLES */

header {
  padding-top: 2em;
  padding-bottom: 1em;
}

h1 {
  display: inline;
  font-size: 2.5em;
  text-shadow: 1px 1px 1px rgb(0, 0, 238);
}

nav {
  padding-top: .5em;
}

hr {
  width: 85%;
}

/* MAIN STYLES */

p {
  line-height: 1.8em;
  padding: 1em 2.5em;
  font-family: 'Open Sans', sans-serif;
}

#intro-pic {
  border-radius: 100%;
  border: 1px solid rgb(0, 0, 238);
}

#skills {
  padding-bottom: 5em;
}

article:nth-child(odd) {
  border-top: 1px inset #ccc;
  border-bottom: 1px inset #ccc;
}

h2 {
  padding-top: 2em;
}

#projects {
  color: #333;
  background-color: rgb(243, 243, 241);
}

#projects p {
  padding-bottom: 3em;
  text-align: justify;
}

#projects img {
  max-width: 300px;
  border: 2px solid #333;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #999;
}

#contact {
  padding-bottom: 1em;
}