.icon-menu {
  float: right;
  font-size: 2.5em;
  margin-right: .4em;
  color: rgb(243, 243, 241);
}

nav:hover ul {
  display: block;
}

h1 {
    float: left;
    padding-left: 20%;
}

.active a {
  font-weight: bold;
  color: rgb(243, 243, 241);
  text-shadow: 1px 1px 1px #333;
}

@media only screen and (min-width: 401px) {
  #wrapper {
    max-width: 40%;
  }

  .icon-menu {
    display: none;
  }

  h1 {
    display: block;
    float: none;
    padding-left: 0;
  }

  nav ul {
    display: block;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
  }

  nav li {
    display: inline;
    padding: 1em;
    border: none;
  }

  nav li:last-child {
    border: none;
  }

  hr {
    width: 77%;
  }

  #projects img {
    max-width: 320px;
  }
}