/* HEADER STYLES */

nav:hover ul {
  display: block;
}

ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

li {
  padding: .5em;
  border-top: 1px solid rgb(117, 163, 215);
  font-size: 1.1em;
  width: 60%;
  margin: auto;
}

li:last-child {
  border-bottom: 1px solid rgb(117, 163, 215);
}

hr {
  width: 85%;
}

/* MAIN STYLES */

#intro-pic {
  border-radius: 100%;
  border: 1px solid rgb(0, 0, 238);
}

#intro {
  padding-bottom: 5em;
}

/* PROJECT STYLES */

article {
  background: linear-gradient(to left, #fff, #ddd);
}

article:nth-child(even) {
  background: linear-gradient(to left, #ddd, #bbb);
}

#projects {
  color: #333;
}

#projects a {
  color: #333;
  text-shadow: 1px 1px 1px rgb(117, 163, 215);
}

#projects h2 {
  margin-top: 0;
}

#projects p {
  padding-bottom: 3em;
  text-align: justify;
  margin-bottom: 0;
}

#projects img {
  max-width: 300px;
  border: 2px solid #333;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #999;
}

/* CONTACT STYLES */

#contact {
  background-color: rgba(0, 0, 150, .5);
  padding-bottom: 1em;
  margin-top: -19px;
}

#contact h2 {
  text-shadow: 1px 1px 1px #333;
}

#contact a {
  color: rgb(117, 163, 215);
}




/* NON-MOBILE STYLES */

@media only screen and (min-width: 1010px) {
  .icon-menu {
    margin-top: -0.8em;
  }
}

@media only screen and (min-width: 1220px) {
  #wrapper {
    max-width: 40%;
  }

  /* HEADER STYLES */

  header {
    padding-bottom: 1em;
  }

  h1 {
    float: none;
    padding-left: 0;
  }

  .icon-menu {
    display: none;
  }

  nav ul {
    display: block;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
  }

  nav li {
    display: inline;
    padding: em;
    border: none;
  }

  nav li:last-child {
    border: none;
  }

  hr {
    width: 77%;
  }

  /* MAIN STYLES */

  main {
    margin-top: 0;
  }

  #projects img {
    max-width: 388px;
  }
}